@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background-color: #000;
}

.navbar {
  z-index: 9999;
}

.navbar-brand img {
  height: 20px;
}

.carousel img {
  object-fit: cover;
  object-position: top;
}

.line {
  height: 2px;
}
